/* ===================================
    font import from google font  
======================================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Work+Sans:ital,wght@0,200;0,400;0,800;0,900;1,900&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */


/* ===================================
   Some Common Style for whol website  
======================================*/
:root{
    --primary-font: 'Work Sans', sans-serif;
    --dark-color1: #131313;
    --dark-color2: #424242;
    --beige-color: #FFF4E7;
    --orange-color: #FF900E;
    --padding: 50px 220px;
    --margin: 50px 220px;
    --little-space: 35px;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}
button{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    background-color: var(--orange-color);
    border: var(--orange-color);
    padding: 20px;
    border-radius: 8px;
}
img{
    width: 100%;
}

/* ===================================
             Header style  
======================================*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--beige-color);
}
header .logo-title{
    color: var(--dark-color1);
    font-size: 45px;
    font-weight: 700;
    font-familY: var(--primary-font)
}
.menu ul{
    display: flex;
    column-gap: 30px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
}

/* ===================================
         Hero section style  
======================================*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    background-color: var(--beige-color);
    padding: var(--little-space) 0px;
}
.hero-info{
    width: 50%;
}
.hero-title{
    color: var(--dark-color1);
    font-size: 64px;
    align-items: center;
    line-height: 75px;
    margin-bottom: var(--little-space);
}
.hero-subtitel{
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-color2);
    line-height: 26px;
    align-items: center;
    margin-bottom: var(--little-space);
}
.hero-button{
    margin-bottom: var(--little-space);
}
/* ===================================
         Features Section style  
======================================*/
.features{
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin: var(--margin);

}
.features > div{
    width: 50%;
}
.features .features-image-model{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-info .features-info-title{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: var(--little-space);
}
.features .features-info-subTitel{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: var(--little-space);
}

/* ===================================
    User-navigation Section style  
======================================*/
.user-navigation{
    display: flex;
    align-items: center;
    margin: var(--margin);
    column-gap: 60px;
}
.user-navigation .using-info{
    width: 40%;
}
.user-navigation .experience{
    width: 50%;
}
.using-info .using-info-title{
    font-size: 45px;
    color: var(--dark-color1);
    padding-left: var(--little-space);
    border-left: 10px solid var(--orange-color);
    margin-bottom: var(--little-space);
}
.using-info .using-info-massage{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-color2)
}
.user-navigation-info-box{
    padding: var(--little-space);
    margin: var(--little-space);
    margin-left: 0;
    box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.075);
}
.user-navigation-info-box-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-color1);
    margin-bottom: 15px;
}
.user-navigation-info-box-text{
    font-weight: 400;
    size: 16px;
    line-height: 26px;
}
.experience button{
    padding: 70px;
    position: relative;
    top: -120px;
    left: -70px;
}
/* ===================================
          Facts Section style  
======================================*/
.facts{
    margin: var(--margin);
}
.facts .fats-info{
    margin: 100px 0;
    width: 40%;
}
.facts-info-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: var(--little-space);
}
.facts-text{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.facts .fects-box-warp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}
.fects-box{
    padding: var(--little-space);
    text-align: center;
    border: 1px solid var(--orange-color);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
.fects-box:hover{
    background-color: #ffd8acaf;
    transform: rotate(20deg);
}
.fects-box img{
    width: 20%;
}
.fects-box .fects-mark{
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-color2)
}
.fects-box p{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
/* ===================================
        Sponspors Section style  
======================================*/
.sponspors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--margin);
}
.sponspors-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponspors-info .sponspors-title{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;

}
.sponspors-info .sponspors-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 40%;
}
.sponspors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-top: 100px;
}
/* ===================================
        Footer Section style  
======================================*/
footer{
    padding: 30px;
    background-color: var(--beige-color);
    margin: var(--margin);
}
footer p{
    width: 400;
    font-size: 20px;
    text-align: center;
}


/* ===================================
     Small device responsive  
======================================*/
@media screen and (max-width: 576px){

    :root{
        --little-space: 10px;
        --padding: 10px 20px;
        --margin: 10px 20px;
    }
/* ===================================
             Header style  
======================================*/
    header{
        flex-direction: column;
        padding: 20px 10px;
    }
    header .logo-title{
        font-size: 35px;
    }
    .menu{
        display: none;
    }
/* ===================================
             Hero style  
======================================*/
.hero{
    padding: 10px;
}
    .hero-info{
        width: 100%;
    }
    .hero-title{
        font-size: 35px;
        line-height: 35px;
    }
/* ===================================
         Features Section style  
======================================*/
    .features{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .features > div{
        width: 100%;
    }
    .features-info .features-info-title{
        font-size: 35px;
    }
/* ===================================
         Features Section style  
======================================*/
    .user-navigation{
        flex-direction: column;
    }
    .user-navigation .using-info{
        width: 100%;
    }
    .using-info .using-info-title{
        font-size: 35px;
    }
    .user-navigation .experience{
        width: 100%;
    }
    .experience button{
        width: 100%;
        padding: 40px;
        padding-bottom: 20px;
        top: 0;
        left: 0;
    }
/* ===================================
          Facts Section style  
======================================*/
    
    .facts .fats-info{
        width: 100%;
        margin-bottom: 30px;
    }
    .facts .fects-box-warp{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .fects-box{
        padding: 20px 0px;
    }
/* ===================================
        Sponspors Section style  
======================================*/
    .sponspors-info .sponspors-text{
        width: 100%;
    }
    .sponspors-logo{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }
    /* ===================================
        footer Section style  
======================================*/
    footer{
        margin-top: 50px;
        padding: 15px;
    }
    footer p{
        font-size: 16px;
        line-height: 20px;
    }
}